/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25 Jul, 2020, 11:27:28 AM
    Author     : fipl
*/

.profile-text-bold{
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin:5px;
    padding-bottom: 3px;
    border-bottom: 1px solid lightgray;
}
.profile-text-cursor{
    text-align: left;
    font-size: 14px;
    margin:5px;
    border-bottom: 1px solid lightgray;
    padding-bottom: 6px;
    cursor:pointer;
}
.profile-text{
    text-align: left;
    font-size: 14px;
    margin:5px;
    border-bottom: 1px solid lightgray;
    padding-bottom: 6px;
}
.row {
    display: flex;
    flex-wrap: wrap;
}

/* Create four equal columns that sits next to each other */
.column {
    box-shadow: 0 10px 5px grey;
    flex: 15%;
    /* max-width: 23%;*/
    padding: 5px 0;
    margin: 5px ;
    /*padding: 0 4px;*/
    border-style: inset;
    border-width: 1px;
    -moz-border-radius: 10px;
    -webkit-border-radius:   10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;

}

.column-para {
    box-shadow: 0 10px 5px grey;
    flex: 15%;
    /* max-width: 23%;*/
    padding: 15px 0;
    margin: 5px ;
    margin-bottom: 15px;
    /*padding: 0 4px;*/
    border-style: inset;
    border-width: 1px;
    -moz-border-radius: 10px;
    -webkit-border-radius:   10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
}

.column-para-text{
    text-align: left;
    font-size: 14px;
    margin:5px;
    border-bottom: 1px solid lightgray;
    padding-bottom: 6px;
    padding: 10px;
}

.blink_me { animation: blinker 2s ;animation-iteration-count:3;}
@keyframes blinker {
    50% {
	opacity: 0;
    }
}	

.notification {
    background-color: #002754;
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px;
    position: relative;
    display: inline-block;
    border-radius: 2px;
}

.notification:hover {
    background: #4169E1;
}

.notification .badge {
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 5px 10px;
    border-radius: 50%;
    background: red;
    color: white;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
	flex: 50%;
	max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
	flex: 100%;
	max-width: 100%;
    }
}